.team-member-panel-container {
    display: flex;
    flex-direction: column;
    min-width: 200px;
}

.team-member-panel-list {
    padding: 0;
}

.team-member-panel-item {
    background: beige;
    display: flex;
    flex-direction: column;
    width: 250px;
    padding: 0;
}

.team-member-panel-button-add {

}
